* {
  margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 1.25rem 4rem;
  background-color: rgb(193, 248, 255);
  list-style: none;
}

.navbar li {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
}
.photos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  align-items: stretch;
  margin: 5rem;
}
.pic-grid {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 100%;
}

.pic-container {
  position: relative;
}
.favorite {
  color: red;
  font-size: 2rem;
  position: absolute;
  left: 50px;
  top: 10px;
  cursor: pointer;
}

.ri-heart-fill {
  opacity: 0.7;
}

.cart {
  color: cyan;
  font-size: 2rem;
  position: absolute;
  right: 50px;
  top: 10px;
  cursor: pointer;
}

main.cart-page {
  padding: 2rem 6rem;
}

.cart-page h1 {
  text-align: center;
}

.cart-page .total-cost {
  text-align: right;
  font-size: 1.3em;
}

.cart-page div.order-button {
  display: flex;
  justify-content: space-around;
}

div.order-button button {
  border-color: black;
  cursor: pointer;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}

div.order-button button:focus {
  outline: none;
}

div.order-button button:disabled {
  border-color: lightgray;
}

.cart-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 3rem;
  border-bottom: 1px solid silver;
}

.cart-item img {
  margin-right: auto;
  margin-left: 15px;
  margin: 0.25rem auto 1rem 1rem;
}

.total-cost {
  margin-right: 3rem;
  font-weight: bold;
}
